.landing {
    background-image: url('../../img/landing3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 40px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: green;
}